/* Reseta estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: #ffffff4e; /* Fallback no caso da imagem não carregar */
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('static/images/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px); /* Aplica o desfoque de 10px apenas na imagem de fundo */
    z-index: -1; /* Coloca a imagem atrás do conteúdo da página */
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(44, 144, 203, 0.9); /* Fundo semi-transparente mais visível */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra mais escura */
    z-index: 1; /* Para garantir que esteja acima do fundo */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* Cor branca no título */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* Cor branca para os rótulos */
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff; /* Campo de texto com cor branca */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animação suave ao passar o mouse */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }
}
