<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Biblioteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const btnHistory = document.querySelector('.history-button'); // Seletor corrigido
            const btnPopup = document.getElementById('historyPopup'); // Seletor corrigido
            const btnClose = document.querySelector('.close');
            
            const fnToggle = () =>{btnPopup.classList.toggle('active');}
            btnHistory.addEventListener('click',fnToggle);
            btnClose.addEventListener('click', fnToggle);

            // btnClose.addEventListener('click', function() {
            //     console.log('Testando');
            //     btnPopup.classList.toggle('active'); // Toggle da classe 'active' sem o ponto
            // });                

        });
    </script>
</head>
<body>
    <div class="container">
        <!-- Aqui popup -->
        <!-- Botão para abrir o popup -->
        <label for="historyCheckbox" class="history-button">H</label>

        <!-- Popup de Histórico de Operações -->
        <div id="historyPopup" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <h2>Histórico</h2>
                <ul id="historyList">
                    {% for operacao in historico %}
                        <li>{{ operacao[0] }} - {{ operacao[1]|strftime('%d/%m/%Y %H:%M:%S') }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Seção de Cadastro de Livro -->
        <div class="section">
            <h1>Cadastro de Livro</h1>
            <form action="/submit" method="POST">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>
                
                <label for="autor">Autor:</label>
                <input type="text" id="autor" name="autor" required>
                
                <label for="ano">Ano de Publicação:</label>
                <input type="date" id="ano" name="ano" required>
                
                <label for="genero">Gênero:</label>
                <input type="text" id="genero" name="genero" required>

                <label for="valor">Valor:</label>
                <input type="number" id="valor" name="valor" required>

                <input type="submit" value="Cadastrar">
            </form>
        </div>

        <!-- Seção de Lista de Livros -->
        <div class="section">
            <h1>Lista de Livros</h1>
            <form action="/search" method="GET">
                <label for="search">Pesquisar ID do Livro:</label>
                <input type="text" id="search" name="search" required>
                <input type="submit" value="Pesquisar">
            </form>

            <!-- Exibição do resultado da pesquisa -->
            {% if livro_pesquisado %}
            <div class="search-result">
                <h2>Resultado da Pesquisa:</h2>
                <p>ID: {{ livro_pesquisado[0] }} | Título: {{ livro_pesquisado[1] }} | Autor: {{ livro_pesquisado[2] }}</p>
                <form action="/delete/{{ livro_pesquisado[0] }}" method="POST">
                    <input type="submit" value="Excluir Livro">
                </form>
            </div>
            {% endif %}

            <div class="book-list">
                <ul>
                    <!-- Loop para exibir livros e status -->
                    {% for livro in livros %}
                    <li>
                        ID: {{ livro[0] }} | Título: {{ livro[1] }} | Status: {{ livro[2] }}
                        <form action="/update_status" method="POST" style="display:inline;">
                            <input type="hidden" name="livro_id" value="{{ livro[0] }}">
                            <button type="submit">                    
                                {% if livro[2] == 'Emprestado' %}
                                    Torná-lo disponível
                                {% endif %}
                            </button>
                        </form>
                        <form action="/delete/{{ livro[0] }}" method="POST" style="display:inline;">
                            <button type="submit">Excluir</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Seção de Empréstimo de Livros -->
        <div class="section">
            <h1>Empréstimo</h1>
            <form action="/loan" method="POST">
                <label for="livro_id">ID do Livro:</label>
                <select id="livro_id" name="livro_id" required>
                    <!-- Os IDs dos livros serão adicionados aqui dinamicamente -->
                    {% for livro in livros_disponiveis %}
                    <option value="{{ livro[0] }}">{{ livro[0] }}</option> <!--Mudando de tupla para inteiro-->
                    {% endfor %}
                </select>
                
                <label for="nome">Nome do Responsável:</label>
                <input type="text" id="nome" name="nome" required>
                
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="data_inicio">Data de Início:</label>
                <input type="date" id="data_inicio" name="data_inicio" required>
                
                <label for="data_expiracao">Data de Expiração:</label>
                <input type="date" id="data_expiracao" name="data_expiracao" required>

                <input type="submit" value="Confirmar">
            </form>
        </div>
    </div>
</body>
</html>